<h1><%= "User id: #{@user.id}" %></h1>
<p><strong>Name: </strong> <%= "#{@user.first_name} #{@user.last_name}" %><br/>
<strong>Email:</strong> <%= @user.email %><br />
<strong>Created Date:</strong> <%= @user.created_at %><br />
</p>
<table border="1">
      <tr>
        <th>Acc No</th>
        <th>Acc Type</th>
        <th>Ballance</th>
      </tr>

<%@user.accounts.each do |c| %>
<tr>
<td>
 &nbsp
<%= link_to c.id, :controller => "account", :action => "show", :id => c.id -%>
</td>
<td>
 &nbsp
<%= AccountType.find(:first, :conditions => {:id => c.type_id}).name -%>
</td>
<td>
 &nbsp
<%= c.ballance -%>
</td>
</tr>
<% end %>
</table>
<hr />
<p><%= link_to "Add new Account", {:controller => "account", :action => 'new', :id =>@user.id}%></p>
<hr />
<%= link_to 'Back', {:action => 'list'} %>
<%= link_to 'Edit', {:action => 'edit', :id => @user.id} %>
<b> <%= link_to "Delete", {:action => 'delete', :id => @user.id},
:confirm => "Are you sure you want to delete this item?" %></b>
