<h1>Create new account for <%= "#{@user.first_name} #{@user.last_name}"%></h1>

<% form_for @account, :url => { :action => "create", :id => @user.id } do |f| %>
<%= f.error_messages %>

<div class="field">
  <%= f.label "Balance: " %>
  <%= f.text_field :balance %>
</div><br>

<div class="field">
  <%= f.hidden_field :user_id, :value => "#{@user.id}" %>
</div>

<div class="field">
  <%= f.label "Account Type: " %>
  <%= collection_select(:account, :type_id, @account_types, :id, :name) %>
</div><br>

<div class="actions">
  <%= f.submit "Create" %>
  <%= link_to 'Back', {:action => 'list'} %>
</div>
<% end %>


