<h1>Create new account for <%= "#{@user.first_name} #{@user.last_name}"%></h1>
<%= form_tag :action => 'create' %>
<p><label for="account_ballance">Ballance</label>:
<%= text_field 'account', 'ballance' %></p>
<%= hidden_field 'account', 'user_id', :value => "#{@user.id}" %></p>
<p><label for="account_type">Account Type</label>:
<%= collection_select(:account, :type_id, @account_types, :id, :name) %></p>
<%= submit_tag "Create" %>
<%= link_to 'Back', {:action => 'list'} %>
