<h1>Add new account</h1>
<%= form_tag :action => 'create' %>
<p><label for="account_ballance">Ballance</label>:
<%= text_field 'account', 'ballance' %></p>
<p><label for="account_type">Account Type</label>:
<%= collection_select(:account,:type_id,@account_types,:id,:name) %></p>
<p><label for="user">Account Name</label>:
<%= collection_select(:account,:user_id,@users,:id,:first_name) %></p>
<%= submit_tag "Create" %>
<%= link_to 'Back', {:action => 'list'} %>
