<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <%= stylesheet_link_tag 'custom.css' %>
    <!--<%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %> -->
  </head>
  <body>
    <div id="content" class="round">
      <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>
	<%= image_tag("park.jpg", :size => "800x200", :alt => "Sample App", :class => "round") %>
    <%= yield %>
    <div class="container">
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
